.custom_component__total-amount-main {
   display: flex;
   flex-direction: column;
   user-select: none;
}
.custom_component__total-amount {
   background-color: whitesmoke;
   padding: 1rem;
   border-radius: 4px;
   width: 20rem;
   text-align: end;
   font-size: 17px;
}