.login__main {
    background-color: var(--primary);
    color: var(--blanco);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start; /* Align items vertically to the top, preventing its element not to stretch like this main element. */
    flex-grow: 1;
    height: 100vh;
}

.margin-top {
     margin-top: 3rem;
}

.login__container {
     border: 1px solid black;
     padding: 3rem 6rem;
     background-color: var(--white);
     border-radius: 0.5rem;
     width: 90%;
     max-width: 50rem;
   }

.button-login-container {
    
}

.button-login {
     width: 100%;
}
