.purchase_crud_view__main {
   background-color: rgba(0, 0, 0, 0.80);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1001;

   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.purchase_crud_view__container {
   position: relative;
   width: 95%;
   height: 80%;
   background-color: rgb(205, 223, 227);
   padding: 2rem;
   overflow: auto;
   border-radius: 10px;
}

@media (min-width: 1200px) {
   .purchase_crud_view__container {
      width: 80%;
   }
}

.purchase_view__form-title {
   font-size: 17px;
   margin-left: 1.0rem;
   margin-bottom: 0.5rem;
   /* Explicitly remove margin from <p> */
   font-weight: 400;
}

.purchase_crud_view__title {
   font-size: 29px;
   margin-left: 1.0rem;
   margin-bottom: 2rem;
   /* Explicitly remove margin from <p> */
   font-weight: 700;
}

.purchase_view__gap {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.form-select {
   width: 100% !important;
   max-width: 50rem;
   text-wrap: wrap;
}

.form-select {
   font-size: 17px !important;
   /* Ajusta esto a tu preferencia */
   height: auto !important;
   /* Esto permite que el select se ajuste al tamaño del contenido */
   padding: 1rem !important;
   /* Añade algo de padding para mejor manejo */
}

.purchase_view__amount-textfield {
   width: 100%;
   max-width: 20rem;
}

.purchase_view__add-button {
   width: 10rem;
   font-size: 17px !important;
}
.purchase_view__add-item-button {
   display: flex;
   justify-content: flex-start;
   gap: 1rem;
}

.purchase_view__buttons {
   display: flex;
   justify-content: flex-end;
   gap: 1rem;
}