.purchase_crud_view__main {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   background-color: rgb(227, 227, 227);
}

.purchase_crud_view__header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: beige;
   width: 100%;
   min-height: 4rem;
   z-index: 2;
   /* Ensure the header is above the body content */
}

.purchase_crud_view__body {
   flex-grow: 1;
   overflow-y: auto;
   /* Add scroll to the body content only */
   padding: 2rem;
   background-color: white;
   /* Optional: for better content visibility */
}

.purchase_crud_view__footer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: beige;
   width: 100%;
   min-height: 4rem;
   z-index: 2;
   /* Ensure the footer is above the body content */
}

.purchase_crud_view__footer-buttons {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 1rem;
   margin: 1rem;
}

.purchase_view__form-title {
   font-size: 17px;
   margin-left: 1.0rem;
   margin-bottom: 0.5rem;
   /* Explicitly remove margin from <p> */
   font-weight: 400;
}

.purchase_crud_view__title {
   font-size: 29px;  
   font-weight: 700;
}

.purchase_view__gap {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.form-select {
   width: 100% !important;
   max-width: 50rem;
   text-wrap: wrap;
}

.form-select {
   font-size: 17px !important;
   /* Ajusta esto a tu preferencia */
   height: auto !important;
   /* Esto permite que el select se ajuste al tamaño del contenido */
   padding: 1rem !important;
   /* Añade algo de padding para mejor manejo */
}

.purchase_view__amount-textfield {
   width: 100%;
   max-width: 20rem;
}

.purchase_view__add-button {
   width: 10rem;
   font-size: 17px !important;
}

.purchase_view__add-item-button {
   display: flex;
   justify-content: flex-start;
   gap: 1rem;
}

.purchase_view__buttons {
   display: flex;
   justify-content: flex-end;
   gap: 1rem;
}

.puchase_view__payment_and_currency {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

.puchase_view__discount_and_total {
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

.puchase_view__space-between {
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}