.alert-container {
    width: 50%; /* Or any other width you prefer */
    z-index: 1050; /* Ensure it's above other content, similar to a modal */
}

.home__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.home__header {
    display: flex; /* Make it a flex container */
    align-items: center; /* Optional: Center items vertically if needed */
    justify-content: space-between;
    height: 6rem;
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    
}

.home__header-left {
    display: flex; /* Make it a flex container */
    gap: 1rem;
    justify-content: flex-start; /* Align items to the right */
    align-items: center;
}

.home__header-right {
    display: flex; /* Make it a flex container */
    justify-content: flex-end; /* Align items to the right */
    gap: 1rem;
}


.home__main-container {
    display: flex;
    flex-grow: 1; /* Now it will take up all available space */
    overflow: auto; /* Add scrolling if content overflows */
}

.home__left-sidebar {
    width: 30%;
    max-width: 50rem;
    background-color: #f0f0f0;
    padding: 3rem;
}

.home__left-sidebar-buttons {
     display: flex;
    flex-direction: column; /* This is the default value, so it's optional */
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Adjust vertical alignment as needed */
    gap: 2rem;
}

.home__main-content {
    background-color: white;
    flex-grow: 1; /* Take up the remaining space */
    padding: 0rem; /* Add some padding */
}

.home__right-sidebar {
    width: 30%;
    max-width: 30rem;
    background-color: #f0f0f0;
    padding: 1rem;
}


.home__footer {
    height: 5rem;
    background-color: yellow;
    padding: 0rem;
    width: 100%;
}

.buttons {
    font-size: 18px;
}

