/* Overlay that covers the entire screen */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.635); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to ensure it's on top of other content */
  }
  
  /* Modal content box styling */
  .modal-content {
    background-color: #ffffff; /* White background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 3rem; /* Padding inside the box */
    max-width: 50rem; /* Maximum width of the modal */
  }
  
  .modal-content {
    background-color: #ffffff !important;
  }
  
  /* Heading style within the modal */
  .modal-content h2 {
    margin-top: 0;
    color: #333333; /* Dark text for the heading */
    margin-bottom: 2rem; /* Space below the heading */
  }
  
  /* List of items representing workspaces */
  .modal-content ul {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    margin: 0 0 20px 0; /* Space below the list */
  }
  
  /* Individual list items */
  .modal-content li {
    background-color: #f7f7f7; /* Slightly off-white background for each item */
    border: 1px solid #ddd; /* Light border for each item */
    padding: 10px; /* Padding inside each item */
    margin-bottom: 8px; /* Space between items */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners for list items */
    transition: background-color 0.2s; /* Smooth background color transition on hover */
  }
  
  /* Hover state for list items */
  .modal-content li:hover {
    background-color: #353571; /* Light grey background on hover */
    color: white;
  }
  
  /* Close button styling */
  .modal-content button {
    background-color: #d9534f; /* Bootstrap's btn-danger background color */
    color: #ffffff; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-weight: 700; /* Bold font */
    margin-top: 0rem; /* Align with the top of the modal */
    margin-right: 0rem; /* Align with the right of the modal */
  }
  
  /* Clear float for sibling elements */
  .modal-content::after {
    content: "";
    display: block;
    clear: both;
  }
  