.input_field_column__main {
   user-select: none;
   display: flex;
   flex-direction: column;
   background-color: whitesmoke;
   padding: 2rem;
   gap: 2rem;
}

.input_field_column__container {
   overflow: auto;
   display: flex;
   flex-direction: column;
   gap: 1rem;

}

.input_field_column__trash-button {
   fill: red;
 }