.input_field_column__main {
   user-select: none;
   display: flex;
   flex-direction: column;
   background-color: whitesmoke;
   padding: 2rem;
   gap: 2rem;
}

.input_field_column__container {
   overflow: auto;
}

/* this is done so that every row is at the same level, the error message shows at the same level, too. */
.input_field_column__cell-height {
   height: 4.5rem;
}