.input_field_column__container {
   user-select: none;
   display: flex;
   flex-direction: column;
   background-color: whitesmoke;
   padding: 1rem 1rem;
   gap: 1rem;
   overflow: auto
}

.input_field_column__input {
   /* Estilos para tus inputs si es necesario */
   border: 1px solid rgb(187, 187, 187);
   height: 3rem;
   font-size: 13px;
   display: flex;
   align-items: center;

   width: 100%;
   box-sizing: border-box;
}

.input_field_column__borderless {
   border: none;
}