.purchase_view__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(205, 223, 227);
    overflow: scroll;
    padding: 2rem;
}

.purchase_view__form-title {
   font-size: 14px;
   margin-bottom: 0.5rem; /* Explicitly remove margin from <p> */
   font-weight: 700;
}

.purchase_view__gap {
   display: flex;
      flex-direction: column;
      gap: 2rem;
}

.form-select {
   width: 100% !important;
   max-width: 50rem;
   text-wrap: wrap;
}

.form-select {
    font-size: 17px !important; /* Ajusta esto a tu preferencia */
    height: auto !important; /* Esto permite que el select se ajuste al tamaño del contenido */
    padding: 1rem !important; /* Añade algo de padding para mejor manejo */
}

.purchase_view__amount-textfield {
   width: 100%;
   max-width: 20rem;
}

.purchase_view__total-amount-main {
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 1rem;
   color: gray;
   user-select: none;

}

.purchase_view__total-amount {
   background-color: whitesmoke;
   padding: 1rem;
   border-radius: 4px;
   width: 20rem;
   text-align: end;
}

.purchase_view__add-button {
   width: 10rem;
}