.box_item__container {
   user-select: none;
   display: flex;
   flex-direction: column;
   background-color: whitesmoke;
   padding: 1rem 1rem;
   gap: 1rem;
}

.box_item__newButton {
   width: 3rem;
   font-size: large !important;
   padding: 0 !important;
   background-color: var(--primary) !important;
   border: none !important;
}

.box_item__container-list {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.whole-cell {
   display: flex;
   gap: 1rem;
}

.box_item__container-list-cell {
   display: grid;
   grid-template-columns: minmax(30rem, 2fr) minmax(10rem, 2fr) minmax(3rem, 0.3fr) minmax(10rem, 0.5fr) minmax(10rem, 0.5fr); /* Ajusta los valores según necesites */
   align-items: center; /* Alinea los ítems al centro verticalmente */
   gap: 5px; /* Espacio entre los elementos de la cuadrícula */
   align-items: baseline;
   width: 100%;
   overflow: scroll;
}

.box_item__container-list-cell-buttons {
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: center;
}

.input {
  /* Estilos para tus inputs si es necesario */
  border: 1px solid rgb(187, 187, 187);
  height: 3rem;
  font-size: 13px;
}


.redButton {
   fill: red;
}

.center {
   text-align: center;
   justify-content: center;
}

.error-message {
   color: red;
}

.box_item__container-list-cell-input {
   display: flex;
   flex-direction: column;
}

.non-electable {
   user-select: none;
}

.borderless {
   border: 1px solid rgb(228, 228, 228);
}