.box_item__container {
   user-select: none;
   display: flex;
   flex-direction: column;
   background-color: whitesmoke;
   padding: 3rem 1rem;
   gap: 1rem;
}

.box_item__newButton {
   width: 5rem;
}

.box_item__container-list {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.whole-cell {
   display: flex;
   gap: 1rem;
}

.box_item__container-list-cell {
   display: grid;
   grid-template-columns: minmax(0, 4fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); /* Ajusta los valores según necesites */
   align-items: center; /* Alinea los ítems al centro verticalmente */
   gap: 5px; /* Espacio entre los elementos de la cuadrícula */
   align-items: baseline;
   width: 100%;
}

.box_item__container-list-cell-buttons {
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: center;
}

.input {
  /* Estilos para tus inputs si es necesario */
  border: 1px solid rgb(187, 187, 187);
  height: 3rem;
  font-size: 13px;
}


.redButton {
   fill: red;
}

.center {
   text-align: center;
   justify-content: center;
}

.error-message {
   color: red;
}

.box_item__container-list-cell-input {
   display: flex;
   flex-direction: column;
}

.non-electable {
   user-select: none;
}