.button_icon__main {
   user-select: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   align-items: center;
   background-color: var(--primary);
   opacity: 0.9;
   width: 100%;
   max-width: 100%;
   color: whitesmoke;
   border-radius: 4px;
   cursor: pointer;
   padding: 1rem;
}

.button_icon__main:hover {
   opacity: 1;
   color: white;
}

.button_icon__container {
   width: 5rem;
   height: 5rem;
   border-radius: 2.5rem;
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
}

.button_icon__image {
   fill: var(--primary);
   width: 60%;  /* This will make the SVG fill the width of its container to 60%*/
   height: auto; /* This will maintain the aspect ratio */
}