:root {
    /*custom property*/
    --white: #ededed;
    --dark: #212121;
    --primary: rgb(96, 164, 209);
    --secondary: rgb(229, 226, 68);
    --gray: #757575;
    --grayEven: rgb(190, 190, 190);
    --grayPair: rgb(200, 200, 200);
    --primarySimpleButton: rgb(60, 125, 155);
    --secondarySimpleButton: rgb(213, 88, 21);
    --destructiveSimpleButton: rgb(212, 54, 54);
    --cancelSimpleButton: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    /* Or any other width you prefer */
    z-index: 1500;
    /* Ensure it's above other content, similar to a modal */
}