/* forma de guardar varialbes en css*/
:root {
    /*custom property*/
    --blanco: #ffffff;
    --oscurito: #212121;
    --primario: rgba(255, 193, 7, 1);
    --secundario: #0097a7;
    --gris: #757575;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
