/* forma de guardar varialbes en css*/
:root {
    /*custom property*/
    --white: #ededed;
    --dark: #212121;
    --primary: rgb(96, 164, 209);
    --secondary: rgb(229, 226, 68);
    --grey: #757575;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
