.title {
   font-size: 14px;
   margin: 0rem; /* Explicitly remove margin from <p> */
   font-weight: 700;
}

.inputField {
   padding: 1rem 1rem;
   width: 100%;
   font-size: 17px;
   border: none;
   border-radius: 0.5rem;
}

.errorMessage {
   color: red;
   margin-top: 0;
   font-size: 14px;
}
