.custom-modal__background {
     user-select: none;
     background-color: rgba(0, 0, 0, 0.638);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}

.custom-modal__content {
     background-color: rgb(255, 255, 255);
     border-radius: 12px; /* Slightly larger radius for a softer look */
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Softer shadow for a more modern feel */
     padding: 3rem; /* Increased padding for more space inside the modal */
     width: 90%; /* Adjust width as needed to fit your content */
     max-width: 640px; /* Maximum width to ensure it doesn't get too large on wide screens */
}

.custom-modal__content h1 {
     text-align: center; /* Center the title for a more balanced look */
     margin-bottom: 2rem; /* Add space below the title */
}

.custom-modal__content ul {
     list-style: none; /* Remove default list styling */
     padding: 0; /* Remove default padding */
     margin: 0 0 2rem 0; /* Add some margin at the bottom */
}

.custom-modal__content li {
     background-color: #f2f2f2; /* Light background for each item */
     padding: 1rem; /* Padding for spacing inside each item */
     margin-bottom: 0.5rem; /* Space between items */
     border-radius: 8px; /* Rounded corners for each item */
     cursor: pointer; /* Change cursor to indicate clickable items */
     transition: background-color 0.3s ease; /* Smooth transition for hover effect */
     font-family: "Roboto:ital";
     letter-spacing: 0.5px;
     font-weight: 300;
}

.custom-modal__content li:hover {
     background-color: #e2e2e2; /* Slightly darker background on hover */
}

.custom-modal__button {
     background-color: rgb(96, 164, 209);
     color: whitesmoke;
     width: 100%; /* Adjust width to fit content */
     font-size: 19px;
     border: none;
     border-radius: 4px;
     padding: 0.5rem;
}

.custom-modal__button:hover {
     background-color: #09f;
     color: whitesmoke;
}

.register-content {
}

.register-title {
     color: rgb(0, 0, 0);
     font-size: 19px;
}

.register-subtitle {
     color: rgb(99, 99, 99);
     font-size: 12px;
}
