
.order_type_selector__form-select {
   width: 100% !important;
   max-width: 50rem;
   text-wrap: wrap;
   font-size: 17px !important;
   height: auto !important;
   padding: 1rem 2rem 1rem 1rem !important;
   /* Add padding to the right side */
   border: none;
   background-color: antiquewhite;
   border-radius: 4px;
}